* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    color: #333;
    background: #f0f0f0;
}

button {
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    background: #f0f0f0;
    border: 1px solid #ccc;
    transition: background 0.2s;
    cursor: pointer;
}

button:hover {
    background: #ddd;
}

#variables-list li + li {
    margin-top: 8px;

}

.message-item {
    min-width: 480px;
    max-width: 160ch;
}

textarea {
    width: 100%;
    min-height: 120px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
}

#variables-list code {
    background: #ddd;
    padding: 4px;
    border-radius: 4px;
    display: inline-flex;

    cursor: pointer;

    transition: background 0.2s;
}

#variables-list code:hover {
    background: #aaa;
}

.message-title-input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.message-item {
    display:flex;
    flex-direction: column;
    gap: 8px;
}

dialog[open] {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    background: #fff;

}

#importTextarea,
#exportTextarea {
    width: 480px;
    height: 320px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.notifications {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 8px;
    top: 1rem;
    right: 1rem;
}


.notification {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: .5rem;
    background-color: #333;
    color: #fff;
}